/* :root{
    display:flex; */
    /* padding: 5%;

} */

.output-image{
    padding:5%;
}

/* @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  /* .arrow-animation {
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
    border-color: #555 transparent transparent transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  } */

  .Image-section
  {
    display:flex;
    flex-direction: row;
    gap:150px;

  }
  .original-image
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
  }

  .file-selector
  {
    margin:0;
    /* margin-left: 50%; */
    padding:0;
    width:100px;
  }

  .processed-image
  {
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: center;
  }

  .processed-image button
  {
    border-radius: 30px;
  }
 

  .btn
  {
    width:100px;
    height:35px;
  } 

  .btn-section
  {
    margin-top: auto;
    display:flex;
    flex-direction: column;
  }

  .btn-section img
  {
    height: 100px;
    width:100px;
  }
  .btn-section button
  {
    height:35px;
    width:120px;
  }

  .input-image,.output-image{
    width:300px;
    height:300px;
    object-fit: cover;
  }


  .image-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden; /* Ensure images don't overflow */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; Maintain aspect ratio and fit within container */

    object-fit: cover;
  }