.sidebar {
    /* position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%
    background-color: #333;
    padding-top: 60px;
    opacity: 0; 
    transition: opacity 0.3s ease, left 0.3s ease;  */
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid white;
    min-height: 97vh;
    justify-content: center;
    gap:50px;
  }
  
  /* .sidebar.open {
    left: 0;
    opacity: 1; 
  } */
  
  .sidebar button {
    display: block;
    width: 180px;
    height:70px;
    padding: 10px;

    color:black;
    background-color: white;
    /* border: none; */
    /* border: 1px solid white; */
    /* color: #fff; */
    text-align: center;
    margin:5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.499); 
  }
  